<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/img/weather.png"/>
  <title>About</title>

  <link href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img class="retrato" src="/img/2018-05-06.jpeg" />
  </div>

  {{>footer}}
</body>
</html>