<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Weather HBS</title>
  <link rel="icon" href="/img/weather.png"/>
  <link href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather information</p>
    <form>
      <input type="text" placeholder="Ingresá una ciudad"/>
      <button>Search</button>
    </form>
    <div id="resultado"></div>
  </div>
  

  {{>footer}}
 
  <script src="./js/main.js"></script>
</body>
</html>