body {
  color : #000;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  margin-top: 16px;
  margin-bottom: 48px;
}
header a{
  color: #888888;
  margin-right: 16px;
  text-decoration: none;

}
h1{
  font-size: 64px;
  margin-bottom: 48px;
}
a {
  color:#888888;
  margin-right: 16px;
  text-decoration: none;

}
.retrato{
  width: 250px;
}

.main-content{
  flex-grow: 1;
}

input{
  border: 1px solid #cccccc;
  padding: 8px;

}

button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

#resultado{
  margin-top: 15px;
  background-color: #eee;
  color: black;
  padding: 30px;
}

footer{
  color: #888888;
  border-top: 2px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}